@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;   
    font-family: Georgia, sans-serif; 
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: rgb(124, 143, 87);
    overflow: hidden;
}

.content {
    display: grid;
    text-align: center;
    grid-template-rows: max-content max-content max-content;
    grid-row-gap: 15px;
    transform: translateY(-20vh);
    width: min(90vw, 350px);
}

.social-btn-container {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-row-gap: 5px;
}

.social-btn {
    display: grid;
    place-items: center;
    width: min(90vw, 350px);
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: all 50ms;
    color: white;
    background-color: rgba(0,0,0,0.3);
}

.social-btn:active {
    scale: 0.9;
}
.social-btn:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}

.click-counter-container {
    position: fixed;
    bottom: 7vh;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: right;
    width: min(90vw, 350px);
    height: 35px;
}

.click-count-image {
    width: 35px;
    height: 35px;
    background: url(./click-icon.png);
    background-size: 100%;
}

.click-count-number {
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    font-weight: 900;
    font-size: 1.5em;
    color: white;
}